$fundo: #88e7d4;
$hiperlink: rgb(67, 67, 184);
$botao: #788895;
$card: #DFE6ED;


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: $fundo;
    height: 100vh;

}